
.body-content {
    padding-bottom: 40px;
    padding-top: 50px;
}

body {

}

#ListJobs-wrap {
    .pad-all {
        padding: 15px;
    }

    input[type=text], select {
        width: 100%;
        height: 32px;
        border: 1px solid #bcbbbc;
        border-radius: 4px;
    }   

    .link-navigator {
        cursor: pointer;
    }
}

#JobDetails-wrap {
    border: 1px solid #bcbbbc;
    border-radius: 4px 4px 0 0;
    padding: 0;

    .nav-tabs li.active a {
        color: #ffffff;
        cursor: default;
        background-color: #1aa3ff;
        border: 1px solid #1aa3ff;
    }

    .nav-tabs.nav-justified > li {
        background-color: #f7f7f7;
        border-radius: 4px 4px 0 0;
    }

    .nav-tabs > li > a {
        border: 1px solid #bcbbbc;
    }

    .desc-header {
        padding: 10px 10px 10px 15px;
        background-color: #bcbbbc;
        font-size: 16px;
    }
}

.impdates-tbl {
    width: 100% !important;
    border: 1px solid #bcbbbc;

    tr th {
        padding: 8px;
        background-color: #bcbbbc;
    }

    tr {
        &:nth-child(odd) {
            background-color: #ffffff !important;
        }

        &:nth-child(even) {
            background-color: #f7f7f7 !important;
        }

        td {
            padding: 8px;
        }
    }
}

.input-icons {
    display: inline-flex;
    width: 100%;
    margin-top: 10px;

    textarea {
        width: 100%;
        resize: vertical;
        height: 50px;
        max-height: 40px;
        min-height: 40px;
        border: 1px solid #bcbbbc;
        border-radius: 0px;
        padding:2px;
    }

    .btn-success {
        border-radius: 0;
        margin-left: 2px;
    }
}
