
<link href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")" rel="stylesheet" type="text/css" media="all" />
<link href="~/Content/FooterTemplate/FooterTemplate.css" rel="stylesheet" />

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>Website name</h3>
                    <p>
                        ----------------  ----------- -------------------- ----------- ------------- -------- ------------ --------------- ---- ----------- ---------
                    </p>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        24 Block D<br />
                        India<br />
                        <strong>Phone:</strong>+91 1111111111<br />
                        <strong>Email:</strong>website@email.com<br />
                    </p>
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="twitter"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="twitter"><i class="fab fa-whatsapp"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-blog"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>
                        ------------- ---------- ------------- ----------- --------- ------------- ---------- ------------- ----------- --------- ------------- ---------- ------------- ----------- --------- ------------- ---------- ------------- ----------- ---------
                    </p>
                    <form accept="" method="post">
                        <input type="email" name="email" style="border: 0;padding: 6px 8px;width: 65%;" /><input type="submit" style="background: #007bff;border: 0;width: 35%;padding: 6px 0;text-align: center;color: #fff;transition: 0.3s;cursor: pointer;" value="Subscribe" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright<strong> Websitename</strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="#">WebsiteName</a>
        </div>
    </div>

</footer>
