
<link href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")" rel="stylesheet" type="text/css" media="all" />
<link href="~/Content/FooterTemplate/FooterTemplate.css" rel="stylesheet" />

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-info">
                    <h2 style="margin-top:0;">Drashta Infotech Job Helper Portal</h2>
                    <p>
                        A Portal to Help Students to Get Latest Information for Various Openings for Jobs and Provide them Study materials and join Discussion so that they can Prepare for their Dream Job.
                    </p>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#myModal" >Disclaimer</a></li>
                        <li><a href="http://drashtainfotech.com/html/About.html">About us</a></li>
                        <li><a href="http://drashtainfotech.com/html/Products.html">Our Products</a></li>
                        <li><a href="http://drashtainfotech.com/html/Contacts.html">Enquiry</a></li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Drashta Infotech ™

                        Near Reliance fresh,Kaikhali,Kolkata-700052<br />
                        India<br />
                        <strong>Phone:</strong>+91 8696761555<br />
                        <strong>Whatsapp </strong>+91 8910205702<br />
                        <strong>Email: </strong><a href="mailto:support@drashtainfotech.com?Subject=Queries" style="color:white">support@drashtainfotech.com</a><br />

                    </p>
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.facebook.com/Drashta-Infotech-894300200901134/?modal=admin_todo_tour" class="twitter"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fab fa-instagram"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=918910205702" class="twitter"><i class="fab fa-whatsapp"></i></a>
                        <a href="http://blog.drashtainfotech.com/" class="twitter"><i class="fa fa-blog"></i></a>
                    </div>
                </div>
                @*<div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>
                            ------------- ---------- ------------- ----------- --------- ------------- ---------- ------------- ----------- --------- ------------- ---------- ------------- ----------- --------- ------------- ---------- ------------- ----------- ---------
                        </p>
                        <form accept="" method="post">
                            <input type="email" name="email" style="border: 0;padding: 6px 8px;width: 65%;" /><input type="submit" style="background: #007bff;border: 0;width: 35%;padding: 6px 0;text-align: center;color: #fff;transition: 0.3s;cursor: pointer;" value="Subscribe" />
                        </form>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            Version  2019.8.1.1
        </div>
        <div class="credits">
            Designed by <a href="http://drashtainfotech.com/">Drashta Infotech ™</a>
        </div>
    </div>

</footer>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Disclaimer</b></h4>
            </div>
            <div class="modal-body">
                <p style="text-align:justify;"><b>Drashta Infotech does not promote any job or take any liability for damages caused by information on the site. The full responsibility lies with the candidate to verify jobs and other details. Drashta Infotech collects information from various sources and try to help students by providing the information on our site. We also use cookies for better personalized experience. By visiting the site you are giving consent to use your browser cookies and other for better experience.</b> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
