
<!DOCTYPE html>
<html>
<head>


    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    @Styles.Render("~/Content/Layout")
    <link href="~/Content/LayoutCss/Layout.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/Layout")

</head>
<body>
        <div class="col-sm-12">

            @RenderBody()

        </div>

    <section id="FooterTemplate">
        <div id="FooterTemplateDiv">
            @{ Html.RenderAction("FooterTemplate", "Login");}
        </div>
    </section>
</body>
</html>