
@{
    ViewBag.Title = "Candidate Profile";
    Layout = "~/Views/Shared/_JobPortalLayout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Kolkata based Software Start up that aims to deliver software solution that are Easy to use,Fast and Secure.We always use latest technologies and methodologies to ensure data is safe and secure in our software products." />
    <meta name="keywords" content="Software Development Company in Kolkata,Web Designing Company in Kolkata, Web Development Company in Kolkata, SEO Services in Kolkata,Accounting Software in Kolkata,Cheap website design,GST supported billing software,Railway Jobs,Govt Jobs,Central Jobs,state Jobs,latest jobs,RRB, RRB Recruitment, Railway, Railway Recruitment, Railway Recruitment Board, RRB 2019, Railway Jobs, Railway Vacancy, Railway Recruitment 2019, RRB Recruitment 2019, Railway Jobs 2019, Railway Vacancy 2019" />
    <meta name="author" content="Drashta Infotech" />
    <meta name="Distribution" content="Global" />
    <link rel="publisher" href="http://drashtainfotech.com" />
    <link rel="canonical" href="http://drashtainfotech.com" />
    <meta name="email" content="support@drashtainfotech.com" />
    <meta name="Googlebot" content="all" />
    <meta name="robots" content="all" />
    <meta name="page-topic" content="Software Development Company in Kolkata|Website Development Company in Kolkata | Website Designing Company in Kolkata" />
    <meta name="page-type" content="Rich Internet Media" />
    <meta name="Rating" content="General" />
    <meta name="site" content="Software Company in Kolkata" />
    <meta name="revisit-after" content="3 days" />
    @Styles.Render("~/Content/CandidateProfile")
    @Scripts.Render("~/bundles/CandidateProfile")
</head>



<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgF5lBDcNfgIwXm3w4cO2qXXggmYAp928&libraries=places"></script>


<script>
    google.maps.event.addDomListener(window, 'load', initialize);
    function initialize() {
        var input = document.getElementById('txt_candAddress');
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            // place variable will have all the information you are looking for.
          //  $('#lat').val(place.geometry['location'].lat());
          //  $('#long').val(place.geometry['location'].lng());
        });
    }
</script>

<style>

    .fixed-font {
        font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
        font-size: 13px;
    }

    .list-unstyled {
        padding-left: 10px;
    }

    input[data-role="input"] {
        outline: none;
        border: none;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857;
        vertical-align: middle;
        padding: 6px 12px;
        height: 42px;
    }

    a.list-group-item.hover {
        background-color: #F5F5F5;
        text-decoration: none;
    }

    a.label-info {
        margin: 4px 3px;
        font-size: 14px;
    }

        a.label-info.hover {
            background-color: #31B0D5;
        }

        a.label-info.active {
            background-color: #ADE0EE !important;
        }

        a.label-info .badge {
            font-size: 9px;
            padding: 1px 5px;
        }
</style>
<style>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
    }

    a {
        color: black;
        margin: 3px;
    }

        a:hover, a.hover, li.hover a {
            /*color: green;*/
        }

    .picker {
        border: 1px solid #bcbbbc;
        border-radius: 4px;
    }
</style>
<style>
    .form-inline {
        margin-bottom: 0;
    }

    .panel-group .panel {
        overflow: inherit;
    }

    ul.list-group {
        list-style-type: none !important;
    }

        ul.list-group li {
            padding: 10px;
            border-bottom: 1px solid #bcbbbc;
        }

    .picker1 {
        background-color: #f7f7f7;
    }

    table#tab_logic.table.table-bordered.table-hover thead tr th {
        position: static !important;
        text-align: left;
    }

    #myMultiSearch div.sel-anchor a {
        padding: 8px;
        background-color: #bcbbbc;
        border-radius: 4px;
        float: left;
    }

    #DocUpload {
        width: 100%;
        border: 1px solid #bcbbbc;
        margin-top: 10px;
    }

        #DocUpload thead tr th, #DocUpload tbody tr td {
            padding: 8px;
        }

        #DocUpload thead tr th {
            background-color: #bcbbbc;
        }

        #DocUpload tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }

        #DocUpload tbody tr:nth-child(even) {
            background-color: #ffffff;
        }


    div.input-group.my-3 {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 50%;
    }

    span#inputGroupFileAddon01.input-group-text {
        display: flex;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    div.custom-file {
        display: flex;
        align-items: center;
    }

    input#inputGroupFile01.custom-file-input {
        margin-bottom: 0;
        /* position: relative; */
        z-index: 2;
        width: 100%;
        margin: 0;
        opacity: 0;
    }

    label.custom-file-label {
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        width: 150px;
        margin: 0;
        text-align: center;
        padding-left: 15px;
    }

    label {
        display: inline-block;
        margin-bottom: 8px;
        font-weight: bold;
        margin-top: 5px;
    }
</style>

<h2>Candidate Profile</h2>
<div class="panel-group">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel_Info">Basic Information:</a>
            </h4>

        </div>
        <div class="panel-body collapse in" id="panel_Info">
            <form class="form-inline">
                <div class="form-group col-md-9" style="width:80%;"></div>
                <div class="form-group col-md-3" style="width:20%;">
                    <div class="avatar-upload text-right">
                        <div class="avatar-edit">
                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                            <label for="imageUpload" class="text-center">
                                <span><i class="fa fa-camera" aria-hidden="true" style="font-size:26px; color: #000000;"></i></span>
                            </label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" style="background-image: url('../../Images/NoImage.png');">
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            <form class="form-inline">
                <div class="form-group col-md-6">
                    <label for="candName" class="col-md-4">Name:</label>
                    <input type="text" class="form-control col-md-4" id="txt_candName" placeholder="Name">
                </div>

                <div class="form-group col-md-6">
                    <label for="Gender" class="col-md-4">Gender:</label>
                    <select id="txt_candGender" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
            </form>
            <form class="form-inline">
                <div class="form-group col-md-6">
                    <label for="DOB" class="col-md-4">Date of Birth:</label>
                    <input class="form-control" type="date" id="txt_candDOB" name="bday" value="1998-01-01" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                </div>

                <div class="form-group col-md-6">
                    <label for="EMAIL" class="col-md-4">Email:</label>
                    <input type="text" class="form-control col-md-4" id="txt_candEmail" placeholder="Email">
                </div>
            </form>
            <form class="form-inline">


                <div class="form-group col-md-6">
                    <label for="phoneno" class="col-md-4">Phone No:</label>
                    <input type="text" class="form-control col-md-4" id="txt_candMobile" readonly placeholder="Phone No" value="@System.Web.HttpContext.Current.User.Identity.Name">
                </div>
            </form>

            <form class="form-inline">
                <div class="form-group col-md-12">
                    <label for="address" class="col-md-4">Address:</label>
                    <input type="text" class="form-control col-md-4" id="txt_candAddress" placeholder="Address">
                    @*<textarea class="form-control col-md-12" id="txt_candAddress" placeholder="Address" style="width:100%;resize:vertical;min-height:100px;max-height:100px;"></textarea>*@
                </div>
            </form>

        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel_EduQual">Educational Qualification:</a>
            </h4>
        </div>
        <div class="panel-body collapse" id="panel_EduQual">
            <form class="form-inline">
                <label for="offc address" class="col-md-12">Educational Qualification:</label>
                <div class="form-group col-md-12" style="padding:0;">
                    <textarea style="resize:vertical;min-height:100px;max-height:500px;" rows="4" cols="50" id="txt_candQual" align="left" placeholder="Educational Qualification" class="form-control col-md-4"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel_ProfExp">Working Experiance:</a>
            </h4>
        </div>
        <div class="panel-body collapse" id="panel_ProfExp">
            <form class="form-inline">
                <label for="workexp" class="col-md-12">Working Experiance:</label>
                <div class="form-group col-md-12" style="padding:0;">
                    <textarea style="resize:vertical;min-height:100px;max-height:500px;" rows="4" cols="50" id="txt_candExp" align="left" placeholder="Working Experiance" class="form-control col-md-4"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel_Intrst">Interests:</a>
            </h4>
        </div>
        <div class="panel-body collapse" id="panel_Intrst">

            <form class="form-inline">
                <div class="form-group col-md-12">
                    <div id="myMultiSearch">
                        <div data-role="selected-list" class="sel-anchor">
                            <input data-role="input" type="text" placeholder="Search Interests..." />
                        </div>

                        <div data-role="picker" class="picker1">
                            <ul class="list-group" data-role="picker-list"></ul>
                        </div>
                    </div>

                </div>

            </form>

        </div>
    </div>
   
    <div class="text-center">
        <button type="button" id="SubmitCandidateDetail" onclick="SaveCandidateInfo()" class="btn btn-success Gap2"><span class="glyphicon glyphicon-off" style="padding-right:5px;"></span>Save</button>
    </div>
   
</div>

<input id="hdn_imgfname" type="hidden" name="hiddeninputname" value="" />

