
@{
    ViewBag.Title = "ListJob";
    Layout = "~/Views/Shared/_JobPortalLayout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Kolkata based Software Start up that aims to deliver software solution that are Easy to use,Fast and Secure.We always use latest technologies and methodologies to ensure data is safe and secure in our software products." />
    <meta name="keywords" content="Software Development Company in Kolkata,Web Designing Company in Kolkata, Web Development Company in Kolkata, SEO Services in Kolkata,Accounting Software in Kolkata,Cheap website design,GST supported billing software,Railway Jobs,Govt Jobs,Central Jobs,state Jobs,latest jobs,RRB, RRB Recruitment, Railway, Railway Recruitment, Railway Recruitment Board, RRB 2019, Railway Jobs, Railway Vacancy, Railway Recruitment 2019, RRB Recruitment 2019, Railway Jobs 2019, Railway Vacancy 2019" />
    <meta name="author" content="Drashta Infotech" />
    <meta name="Distribution" content="Global" />
    <link rel="publisher" href="http://drashtainfotech.com" />
    <link rel="canonical" href="http://drashtainfotech.com" />
    <meta name="email" content="support@drashtainfotech.com" />
    <meta name="Googlebot" content="all" />
    <meta name="robots" content="all" />
    <meta name="page-topic" content="Software Development Company in Kolkata|Website Development Company in Kolkata | Website Designing Company in Kolkata" />
    <meta name="page-type" content="Rich Internet Media" />
    <meta name="Rating" content="General" />
    <meta name="site" content="Software Company in Kolkata" />
    <meta name="revisit-after" content="3 days" />
    @Styles.Render("~/Content/JobList")
    @Scripts.Render("~/bundles/JobInternal")
</head>




<h2>Job List</h2>
<div class="col-md-3">

    <input id="txtname" type="text" placeholder="Search Job by typing " class="form-control" />



</div>
<div class="col-md-2">
    <button id="btnSearch" type="button" onclick="Search()" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>Search</button>
</div>
<div class="col-md-5"></div>
<div class="col-md-2">
    <button id="btnAdd" type="button" onclick="Add()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add New Job</button>
</div>
<div style="height:50px"></div>
<div>
    <table id="grid"></table>
</div>

