
@{
    ViewBag.Title = "ListJob";
    Layout = "~/Views/Shared/_JobPortalLayout.cshtml";
}

    @Styles.Render("~/Content/JobList")
    @Scripts.Render("~/bundles/ListJobAdmin")


<div class="container">
    <div class="Listjob-admin-wrap">
        <h2>Job List</h2>
        <div>
            <div class="col-md-3 pad-left">

                <input id="txtname" type="text" placeholder="Type JobNo or JobTitle " class="form-control" />



            </div>
            <div class="col-md-9 divalign">
                <button id="btnSearch" type="button" onclick="Search()" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>Search</button>
                <button id="btnAdd" type="button" onclick="Add()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add New Job</button>
            </div>
        </div>
        <div>
            <table id="grid"></table>
        </div>
    </div>
</div>

